body {
  background:
    linear-gradient(0deg, #1d1926 19px, transparent 1px) center,
    linear-gradient(90deg, #1d1926 19px, transparent 1px) center,
    #7a7093;
  background-size: 20px 20px;
  font-family: sans-serif;
  padding: 24px;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}

input {
  font-size: inherit;
  font-family: inherit;
  padding: 8px 10px;
  outline: none;
  background-color: #24272d;
  color: white;
  border: 2px solid gray;
  border-radius: 5px;
  transition: border-color 0.1s ease-in-out;
}

input:focus,
input:hover {
  border-color: #812abd;
}

.groups {
  display: flex;
  flex-wrap: wrap;
  gap: 42px;
  margin-top: 42px;
}

section b {
  margin-bottom: 4px;
  font-size: 1.4rem;
}

a {
  display: block;
  margin-top: 6px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-decoration-color: #812abd;
}

body, a {
  color: white;
}

@media screen and (min-width: 1280px) {
  body {
    padding: 50px 150px;
  }
}
